
html, body {
	margin: 0;
	padding: 0;
	font-family: 'Merriweather', serif;
	background-color: #1c1c1c;
}

.container {
	max-width: 850px;
	margin: auto auto;	
	display: block;
}

.top-part {
	height: 500px;
	background: url("https://pixabay.com/static/uploads/photo/2016/02/26/00/11/courthouse-1223279_960_720.jpg")center bottom no-repeat;
	background-size: cover;
}

.header {
	max-width: 2000px;
	background: rgba(0, 0, 0, 0.5);
	height: 45px;
	padding: 10px 0;
	display: block;
}

.header .container {
	max-width: 1000px;
}

ul a{
	font-weight: bold;
	font-size: 25px;
	text-transform: uppercase;
}

ul{
	display: inline-block;
	color: #fff;
}

#logo {
	display: inline;
	margin-right: 30px;
	margin-top: auto;
	margin-bottom: auto;
	font-weight: bold;
	font-size: 25px;
	color: #fff;
}

#logo a{
	color: orange;
}

#logo a:hover{
	text-decoration: none;
	color: #4d94ff;
}


.pull-right li{
	display: inline;
	margin-left: 30px;
	margin-top: auto;
	margin-bottom: auto;
}

.pull-right li a {
	font-size: 15px;
	color: #fff;
}

.pull-right li a:hover{
	color: orange;
	text-decoration: none;
	border-bottom: 2px solid orange;
}

/*End of the styling from <homepage>*/


/*comment section*/
.comments{
	
	max-width: 450px;
	border-radius: 10px;
	margin-top: 0px;
	/*below are the two propety that hides this section on the right*/
	right: -380px;
	top: 45px;
	position: fixed;
	border: 2px solid #fff;
}

.popout-btn {
	margin-top: 0px;
	max-width: 110px;
	padding-left: 7px;
	border-radius: 7px;
	background-color: orange;	
	color: #1c1c1c;

	position: relative;
	left: -20px;
}

.popout-btn h3 {
	font-weight: bold;
}

.popout-btn:hover{
	cursor: pointer;
}

.comments form{
	margin-top: 20px;
}

.comments .container {
	
	max-width: 400px;
	max-height: 600px;
	overflow: auto;
	background-color: #1c1c1c;
}

.comment .container h3{
	margin-right: 300px;
}

.posts li{
	color: black;
	background-color: #fff;
	border: 1px solid #d8d8d8;
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 10px;
	margin-bottom: 10px;
	word-wrap: break-word;
	min-height: 42px;
	max-width: 300px;
	border-radius: 10px;
}

/**/
.content{
	margin-top: 100px;
	color: #fff;
}

.pTxt:hover{
	cursor: pointer;
	color: #4d94ff;
}

/*-------------------------------------------------*/
ul.tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #ccc;
    border-radius: 7px;
    background-color: #fff;
}

/* Float the list items side by side */
ul.tab li {
	float: left;

}

/* Style the links inside the list items */
ul.tab li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 7px 9px;
    border-radius: 7px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of links on hover */
ul.tab li a:hover {background-color: #ddd;}

/* Create an active/current tablink class */
ul.tab li a:focus, .active {background-color: #ccc;}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}
/*-------------------------------------------------*/

#tabcontent {
	background-color: red;
	border-color: green;
}